# 모든 파일 무시
*

# 예외 처리: .v 파일
!*.v
!*.pdf
!*.md

# 예외 처리: .gitignore 파일 (자기 자신)
!.gitignore

# 예외 처리: 특정 디렉토리 내의 .v 파일
!*/
!*/**/*.v
!*/**/*.pdf
!*/**/*.md

# 예외 처리: .git 디렉토리 (Git 내부 파일)
!.git/
FPGA 교재/Advanced FPGA Design Architecture, Implementation, and Optimization.pdf
FPGA 교재/chisel-book.pdf
FPGA 교재/parallel_programming_for_FPGAs.pdf
FPGA 교재/디지털 시스템 설계(Verilog를 이용한) (Charles Roth)_r5.pdf
디논/디지털논리회로( 차례)_U_merged.pdf
상규형앱지/FPGA 실습 - 1일차/cource_s1_ALINX_ZYNQ_MPSoC development platform FPGA Tutorial V1.03.pdf
상규형앱지/FPGA 실습 - 1일차/verilog_syntax.pdf
